<div class="rows">
  <div class="col-12">
    <h1>Luggage List</h1>
    <h3><%= link_to "New Entry", new_entry_path %></h3>
  </div>

  <div class="col-12">
    <p style="color: green"><%= notice %></p>
  </div>

  <div id="entries" class="col-12">
    <% @entries.each do |entry| %>
      <%= render entry %>
      <p>
        <%= link_to "Show this entry", entry %>
      </p>
    <% end %>
  </div>

</div>










